/*------------------------------------------------------------------
 * [Layout Stylesheet]
 *
 * Project:	Project Jose Iborra
 * Version:	0.1
 * Last change:	
 * Assigned to:	David Millan
 * Primary use:	
 * Description: Definición de posición de los elementos
 *				Todas los estilos que se creen deberán empezar por lay_
 *				exceptuando aquellos que hagan referencia a un htmlTag
 * -------------------------------------------------------------------*/


/*------------------------------------------------------------------
* Estilos Generales
* -------------------------------------------------------------------*/
.hidde{display:none;}
body{
}
p{


}
a{}
a:hover{}
h1{}
h2{}
h3{}
::selection {
	background:#BD1A1A;
	color:#fff;
	}
::-moz-selection {
	background:#BD1A1A;
	color:#fff;
	}
::-webkit-selection {
	background:#BD1A1A;
	color:#fff;
	}

/*
 * Layout
 */

#wrapper{
margin-top:50px
	}
header{}
footer{ border-top: 1px solid #ccc; padding:10px 0px; margin-top:80px;}
