
.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .ui-helper-clearfix {height: 1%;}
.ui-helper-clearfix {display: block;}
/* End hide from IE-mac */


.calen_bloq{
	display:block;
    background:url(../images/calendario_pruebas.png) top left no-repeat;
    position:relative;
    height:340px;
	}
.calendario{
	display:block;
	position:absolute;
	top:29px;
	left:354px;
	padding-bottom:33px;
	background:url(../images/sombra_calendario.png) bottom right no-repeat;
	}
.ui-datepicker-month{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#55595b;
	}
.ui-datepicker-year{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#55595b;
	}
.select_day{
	font-family:Arial;
	font-size:11px;
	color:#767573;
	}
.ui-datepicker-title{
	display:inline;
	float:left;
	}
.ant_sig{
	display:inline;
	float:right;
	}
.ui-datepicker-prev{
	display:inline;
	float:left;
	text-indent:-99999px;
	width:36px;
	height:12px;
	margin-right:9px;
    background:url(../images/ant.png) top left no-repeat;
	}
.ui-datepicker-prev:hover{
    background:url(../images/ant.png) bottom left no-repeat;
	}
.ui-datepicker-next{
	display:inline;
	float:left;
	text-indent:-99999px;
	width:36px;
	height:12px;
    background:url(../images/sig.png) top right no-repeat;
	}
.ui-datepicker-next:hover{
    background:url(../images/sig.png) bottom right no-repeat;
	}
.ui-datepicker td span, .ui-datepicker td a {
	background-color:#F2F1EC;
	display:block;
	height:38px;
	line-height:38px;
	text-align:center;
	width:38px;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	color:#7f7d7b;
	margin:1px;
	}
.ui-datepicker td .past, .ui-datepicker-other-month span{
	background-color:#fff;
	color:#d1cdca;
	}
.ui-datepicker{
	position:relative;	
	}
.ui-datepicker-prev{
	position:absolute;
	right:36px;
	}
.ui-datepicker-next{
	position:absolute;
	right:4px;
	}
.ui-datepicker table {
	margin-top:0px !important;
	}
.ui-datepicker table caption{
	font-family:Arial;
	font-size:11px;
	color:#55595b;
	padding-top:7px;
	margin-bottom:10px;
	}
.ui-datepicker {
	padding:0.2em 0.2em 0;
	width:277px;
	}
.ui-helper-hidden-accessible{
    display:none;
}
.ui-datepicker td .event_oppen{
	color:#fff !important;
	background:url(../images/calen_on.png) 0 0 no-repeat;
    }
.ui-datepicker td .event, .ui-datepicker .event a{
	color:#F29B18 !important;
	background:url(../images/calen_event.png) 0 0 no-repeat;
    }
.ui-datepicker td .event:hover{
	color:#fff !important;
	background:url(../images/calen_on.png) 0 0 no-repeat;
    }
.ui-state-default a{
	color:#7F7D7B;
	text-decoration:none;
	}
.ui-state-default a:hover{
	color:#dad9d2;
	text-decoration:none;
	}
.ui-datepicker-calendar thead{
	display:none;
	}
.ui-datepicker td .ui-state-default .weekend,  .ui-datepicker-week-end a{
color:#F29B18 !important;
text-decoration:none;
}
.ui-datepicker td .ui-state-default .weekend:hover, .ui-datepicker-week-end a:hover, .event a:hover{
/*color:#f2be7d !important;
text-decoration:none;*/
color:#fff !important;
	background:url(../images/calen_on.png) 0 0 no-repeat;
}
.ui-datepicker-other-month a, .ui-datepicker-other-month span{
	background-color:#FFFFFF !important;
	color:#D1CDCA !important;
	}
.ui-state-active, .event a.ui-state-active{
	background:transparent url(../images/calen_on.png) no-repeat scroll 0 0 !important;
	color:#FFFFFF !important;
	}
        
#ui-datepicker-div .ui-datepicker-header{
    margin-bottom:16px;
}